{% extends "layout.html" %}
{% block content %}

<p>Introducing our innovative recipe search app. Whether you're a seasoned chef or a kitchen novice, this app simplifies your cooking experience by allowing you to discover delectable recipes based on a single ingredient.

With Ingredient Search, you can easily search for recipes by entering a single ingredient you have in your kitchen. The app will then provide you with a curated list of recipes from various sources, including detailed instructions and a link to the original recipe website.

What sets Ingredient Inspire apart is its commitment to user convenience. Not only does the app deliver mouth-watering recipes, but it also provides a comprehensive list of all required ingredients and their quantities. This feature ensures that you have all the information you need before you start cooking, saving you time and unnecessary trips to the grocery store.</p>


<img src="../../greens-beans.gif" alt="Our App Chants"> 

<audio controls>
    <source src="../../beans_greens_potatos.mp3" type="audio/mpeg">
</audio>

{% endblock content %}